{% extends 'base.html' %}

{% block title %} 
<h1>{{ post.title}} </h1>
{% endblock %}

{% block content %}

    <h1>{{ post.title }}</h1>

    <p> {{ post.content }} </p>
    <p><i> By {{  post.user.full_name }}
        on {{post.friendly_date}}
    </i></p>

    <form>
      <button class="btn btn-primary btn-sm"
              formaction="/users"
              formaction="GET">Back to Home
      </button>
      <button class="btn btn-primary btn-sm"
              formaction="/users/{{ post.user_id }}"
              formmethod="GET">Cancel
      </button>

      <button class="btn btn-primary btn-sm"
              formaction="/posts/{{ post.id }}/edit"
              frommethod="GET">Edit
      </button>
      <button class="btn btn-danger btn-sm"
              formaction="/posts/{{ post.id }}/delete"
              formmethod="POST">Delete
      </button>
    </form>

{% endblock %}